$text-primary: black;
$bgcolor: #f6d9af;
$textcolor: #292f36;
$bgmain: #ffffff;
$bgsection: #ebebd3;
$boxs: black;
$backgroundheader:#f6d9af;
$headertext: #ffffff;
$backgroundfooter:#f6d9af;
$bottomtext: #292f36;
$colorservice:#ebebd3;